
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;  
 }

 body {
   background-color: #F7F3F3;
 }


/* latest images section */
.latest-images-section {
   width : 100%;
   display : flex;
   flex-direction: column;
}
.latest-images-section h2 {
   margin : 20px;
   color:  #5AC0B5;
   font-size: 1.8rem;
}

 .flex-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    width: 100%;
    justify-content: center;
 }
 .grid-container {
    flex: 25%;
    max-width: 25%;
    padding: 0px 5px;
 }
 .grid-container img {
    margin-top: 8px;
    width: 100%;
    border :solid 4px #5AC0B5;
    transition: ease-out 2s ;
    position: relative;
 }

 .grid-container img:hover {
     transform: translate(0px , -15px);
     cursor: pointer;
     background-color: rgba(0, 0, 0, 0.151);
 }

 .feedback-container {
    display: flex;
    margin: 0px 10px;
    color: #5AC0B5 ;
    text-align: center;
    font-size: 1.2rem;
    justify-content: space-between;
 }

 .feedback-container .icon {
    margin-right: 20px;
 }


 .navbar-links a:hover {
   border-bottom:  #5AC0B5 solid 2px;
}
#active-page {
   color: #E4B3AC ;
   border-bottom:#E4B3AC solid 2px;
}

/* search stle */
.form-search{
   width : 50%;
   top : 120;
}
form.form-search input[type=text] {
   padding: 10px;
   font-size: 17px;
   float: left;
   border : none;
   width: 80%;
   background: #E4B3AC;
 }
 
/* Style the submit button */
form.form-search button {
   width: 20%;
   padding: 10px;
   background:#5AC0B5;
   color: white;
   font-size: 17px;
   border: none;
   border-left: none;
   cursor: pointer;
 }
/* header style */
/* landing page content style */
.landingpage-content{
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   justify-content: center;
   margin-top:2rem;
   width: 50%;
   margin-left: auto;
   margin-right: auto;
}
.landingpage-content h1 {
   color: #5AC0B5;
   font-size: 5rem;
   margin-bottom: 1rem;
}
.landingpage-content p{
   color: #b88f89;
   font-size: 20px;
}
